.botao{
  cursor:pointer;
}

.texto-1{
  color: black !important;
}

.shadow-bottom {
  box-shadow: -2px 6px 15px rgba(0, 0, 0, 0.1); /* Creates a shadow at the top */
}


.uk-slideshow-items {

    max-height:500px !important;
    height: 400px !important;
    align-items: center;
    
}
    
    
    @media (max-width: 768px) {
      .slideshow {
        width: 100%;
      }

      .uk-slideshow-items {

        max-height:100% !important;
        height: 800px !important;
        align-items: center;
        
    }

    
     }
    
    .slideshow {
      display: block;
      flex-wrap: wrap;
      object-fit: fill;
      height: 400px;
    }
    
    @media (max-width: 768px) {
      .slideshow .prev,
      .slideshow .next {
        display: none;
      }
    }

    .uk-slideshow-items {
      position: relative;  /* Ensures relative positioning */
      z-index: 100;        /* A high value to make sure the slideshow is on top */
  }