
<div class="uk-position-relative uk-light uk-flex uk-flex-center uk-flex-middle" uk-slideshow="ratio: false animation: fade; autoplay: true; autoplay-interval: 3000;">

    <ul class="uk-slideshow-items uk-text-center uk-width-1-1 uk-position-cover" >
      
      <li>
        <img class="uk-border-rounded" src="/images/banner-playout.png" alt="">
      </li>
      <li>
        <img class="uk-border-rounded" src="/images/slide-fluxodigital-1.png" alt="">
      </li>
      <li>
        <img class="uk-border-rounded" src="/images/slide-fluxodigital-2.png" alt="">
      </li>
      <li>
        <img class="uk-border-rounded" src="/images/slide-fluxodigital-3.png" alt="">
      </li>

    </ul>
  </div>
