
<div class="shadow-bottom  uk-position-relative uk-light uk-flex uk-flex-center uk-flex-middle" uk-slideshow="ratio: false; animation: fade; autoplay: true; autoplay-interval: 3000;">

    <ul class="uk-slideshow-items uk-text-center uk-width-1-1 uk-position-cover" >
      
      <li>
        <div class="uk-container uk-margin-small-top">
          <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
              <div>
                  <div class="uk-border-rounded  uk-card- uk-card-body uk-width-1-1@m">
                      <div class="uk-text-left">
                        <img alt="" src="/images/fluxoplayout-demo.png">
                      </div>
                  </div>
              </div>
              <div>
                  <div class="uk-text-left card uk-card uk-card-body uk-width-1-1@m">
                      <h2 class="texto-1 uk-card-title texto-1">FluxoPLAYOUT<br> <b>Começar um canal com emissão 24/7<br>nunca foi tão fácil</b> </h2>
                      <p class="texto-1" ><b>Solução completa de playout de mídia, multiuso com pagamento em Kwanzas</b><br>
                         Solução robusta com aplicação em <b>Estações televisivas, Streaming, Eventos, Digital Signage, Museus e Galerias.</b>
                      </p>
                      <button type="button" href="https://playout.fluxo-digital.net/" class="uk-button uk-button-large uk-button-danger uk-bor">SAIBA MAIS</button>
                  </div>
              </div>
          </div>
      </div>
      </li>


    </ul>
  </div>
