<div class="video-container uk-margin-large-top">
    <video
    style="  "
      autoplay
      loop
      muted
      id="backgroundVideo"
      class="background-video"
    >
      <source src="videos/audiovisual_promo.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="uk-container overlay-text">
      <h1 class="texto-cta">Somos confiados por quem busca excelência audiovisual e corporativa</h1>
      <button class="uk-button-danger uk-button-large uk-border-rounded uk-button">SAIBA MAIS</button>
    </div>
  </div>
  