<div class="video-container uk-margin-large-top">
    <video
   
      autoplay
      loop
      muted
      id="backgroundVideo"
      class="background-video"
    >
      <source src="videos/audiovisual_promo-vid.mp4" type="video/mp4">
      Seu não navegador não suporta o vídeo em falta.
    </video>
    <div class="uk-container overlay-text uk-margin-large-top">
      <h1 class="texto-cta">Somos confiados por quem busca excelência audiovisual e corporativa</h1>
      <p>Nossos clientes:</p>
      <app-slider2></app-slider2>
    </div>

  </div>
  
