.uk-navbar-nav > li > a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}

.uk-navbar-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensures it stays above other content */
    position: relative; /* Ensure proper z-index stacking */
}


.logotop {

    align-items: flex-start;
    text-align: left;
    height: 120px;
    width: auto;
    display: flex;
  
  }
  