<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.4/css/uikit.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.4/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.4/js/uikit-icons.min.js"></script>
</head>

<body>
  <nav class="uk-navbar-container uk-navbar-transparent shadow-bottom uk-light" uk-navbar>
    <div class="uk-navbar-left uk-container">
      <a class="uk-navbar-item uk-logo" href="#"><img class="logotop" src="images/fluxodigital-logo-red.png" alt="Logo"></a>
     <ul class="uk-navbar-nav uk-visible@m">
        <li><a routerLink="/" uk-scroll="offset: 80">Início</a></li>
        <li><a routerLink="/servicos" uk-scroll="offset: 80">Serviços</a></li>
        <li><a routerLink="/historia" uk-scroll="offset: 80">Nossa História</a></li>
      </ul>
    </div>
    <div class="uk-navbar-right" style="margin-right:3%">
     
      <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-nav" uk-toggle>
        <span uk-navbar-toggle-icon></span>
      </a>
    </div>
  </nav>

  <div id="offcanvas-nav" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">
      <!-- Close button with arrow -->
    
      <ul class="uk-nav uk-nav-default">
        
        <li><a class="texto-offcanva" href="#" uk-scroll="offset: 80">Início</a></li>
        <li><a class="texto-offcanva" routerLink="/servicos" uk-scroll="offset: 80">Serviços</a></li>
        <li><a class="texto-offcanva" routerLink="/historia" uk-scroll="offset: 80">Nossa História</a></li>
        <li>  <button class="uk-offcanvas-close" type="button" uk-close>
             <!-- Custom arrow icon -->
          </button>
        </li>
      </ul>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>
