<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#"><img class="logotop" src="images/fluxodigital-logo-red.png" alt="Logo"></a>
                <ul class="uk-navbar-nav">
                    
                

                    <li class="uk-active"><a href="#">Serviços</a></li>
                    <li>
                        <a href="#">Produtos</a>
                     
                    </li>
                    <li><a href="#">Sobre nós</a></li>
                </ul>

            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Login</a></li>
                  
                </ul>

            </div>

        </div>
    </div>
</nav>