.uk-navbar-nav > li > a{
    font-family: "Poppins", sans-serif;
    font-weight: 700;

}

.logotop {

    align-items: flex-start;
    text-align: left;
    height: 120px;
    width: auto;
    display: flex;
  
  }
  