<div class="fundo ">

<div class="uk-container uk-margin-medium-top uk-margin-large-bottom">
    <div class="uk-margin-large-top uk-margin-large-bottom uk-text-center">
        <h1 class="texto1"><b>Temos os melhores planos Hospedagem Web cPanel</b></h1>
        <img class="logo-cpanel" alt="" src="images/cpanel-whm.png">
    </div>

<div class="uk-container uk-margin-large-top uk-margin-large-bottom">
    <div class="uk-child-width-1-3@l uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
        <div>
            <div class=" uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                <h2 style="color: red">> FLUXO<b>BÁSICO</b></h2>
                <p>

                 <span uk-icon="server"></span> <b> 10 GB</b> de espaço em <b>SSD</b>
                 <br><span uk-icon="rss"></span> <b> 30 GB</b> de Tráfego mensal
                 <br><span uk-icon="mail"></span><b>  5 contas</b> de E-Mail
                 <br><span uk-icon="database"></span><b>  2 contas</b> FTP
                 <br><span uk-icon="database"></span><b>  3 bases de dados</b> SQL
                 <br><span uk-icon="world"></span><b>  2 subdomínioS</b> FTP</p>

                 <h2 ><b>18.000 Kz </b> </h2>
                 <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=01e96d29-8537-d4e8-6d2a-14e120637085"><button type="button" class="uk-button uk-button-danger uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
            </div>
        </div>
        <div>
            <div class="uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                <h2 style="color: red">> FLUXO<b>MÉDIO</b></h2>
                <p>
                 
                    <span uk-icon="server"></span> <b> 50 GB</b> de espaço em <b>SSD</b>
                    <br><span uk-icon="rss"></span> <b> 100 GB</b> de Tráfego mensal
                    <br><span uk-icon="mail"></span><b>  25 contas</b> de E-Mail
                    <br><span uk-icon="database"></span><b>  5 contas</b> FTP
                    <br><span uk-icon="database"></span><b>  8 bases de dados</b> SQL
                    <br><span uk-icon="world"></span><b>  5 subdomínios</b> FTP</p>
                    <h2 ><b>62.000 Kz </b> </h2>
                    <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=e2e071d9-31d5-e466-106b-646028758396"><button type="button" class="uk-button uk-button-danger uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
            

            </div>
        </div>
        <div>
            <div class="uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                <h2 style="color: red">> FLUXO<b>ILIMITADO</b></h2>
                <p>
                    <span uk-icon="server"></span> espaço em <b>SSD ilimitado</b>
                    <br><span uk-icon="rss"></span> <b> 100 GB</b> de Tráfego mensal
                    <br><span uk-icon="mail"></span><b>  50 contas</b> de E-Mail
                    <br><span uk-icon="database"></span><b>  10 contas</b> FTP
                    <br><span uk-icon="database"></span><b>  10 bases de dados</b> SQL
                    <br><span uk-icon="world"></span><b>  15 subdomínios</b> FTP</p>
                   <h2 ><b>150.000 Kz </b> </h2>
                 <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=5196e02e-5136-d427-3d8f-0429807875d3"><button type="button" class="uk-button uk-button-danger uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
            </div>
        </div>
  
    </div>
</div>



</div>



