
 
<div class="slider-container shadow-top">
    <div class="slider">
      <div class="slider-inner">
        <img src="/images/logos/cliente-1.png" alt="">
        <img src="/images/logos/cliente-2.png" alt="">
        <img src="/images/logos/cliente-3.png" alt="">
        <img src="/images/logos/cliente-4.png" alt="">
        <img src="/images/logos/cliente-5.png" alt="">
        <img src="/images/logos/cliente-7.png" alt="">
        <img src="/images/logos/cliente-8.png" alt="">
        <img src="/images/logos/cliente-11.png" alt="">
        <img src="/images/logos/cliente-12.png" alt="">
        <img src="/images/logos/cliente-17.png" alt="">
        <img src="/images/logos/cliente-18.png" alt="">
        <img src="/images/logos/cliente-20.png" alt="">
        <img src="/images/logos/cliente-21.png" alt="">
        <img src="/images/logos/cliente-22.png" alt="">
        <img src="/images/logos/cliente-23.png" alt="">
        <img src="/images/logos/cliente-24.png" alt="">
        <img src="/images/logos/cliente-25.png" alt="">
        <img src="/images/logos/cliente-26.png" alt="">
      </div>
    </div>
  </div>
