<div class="uk-margin-medium-top uk-margin-small-bottom  uk-text-center  ">
    <h1><b>Somos Especialistas</b></h1>
</div>


<div class="uk-container uk-margin-medium-top ">
    <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
        <div>
            <div class=" fundo uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                <h3 class="texto-1 uk-card-title"><b>Desenvolvimento Web <br>& Programação</b></h3>
                <a class="click" routerLink="/servicos" uk-icon="arrow-right">SAIBA MAIS</a>
            </div>
        </div>
        <div>
            <div class="card uk-card-default uk-card-body uk-width-1-1@m">
                <h3 class="texto-1 uk-card-title"><b>Audiovisual & Streaming</b></h3>
                <a class="click" routerLink="/servicos" uk-icon="arrow-right">SAIBA MAIS</a>
            </div>
        </div>
        <div>
            <div class="card uk-card-default uk-card-body uk-width-1-1@m">
                <h3 class="texto-1 uk-card-title"><b>Infraestruturas de T.I</b><b><br>e Conectividade</b></h3>
                <a class="click" routerLink="/servicos" uk-icon="arrow-right">SAIBA MAIS</a>

            </div>
        </div>
  
    </div>
</div>

