<app-navbar></app-navbar>

<app-slider></app-slider>

<app-cards></app-cards>

<div class="uk-container uk-margin-medium-top">
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
        
        
      
            <div class=" uk-card uk-card-body uk-width-1-1@m">
                <h1 class="uk-card-title"><b>Escolha um Domínio Web para começar</b></h1>
                <p> Todos planos incluem: <b>NodeJS, Ruby, PHP, Python,</b></p>
                
                <div>
                    <app-verificador></app-verificador>
                </div>
                
                <div>
                <img class="uk-margin-small-top" alt="" src="/images/domains.webp">
            </div>

        
</div>