<app-navbar></app-navbar>

<app-slider></app-slider>

<app-cards></app-cards>
<!-- Domínios-->
<div class="uk-container uk-margin-large-top">
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
        <div>
            <app-verificador></app-verificador>>
        </div>

      
        <div >
           <h2>Perguntas Frequentes</h2>

           <ul  uk-accordion>
            <li>
                <a  class="uk-text-left uk-accordion-title" href>O que é um domínio</a>
                <div  class="uk-text-left uk-accordion-content">
                    <p>Ao escolher um nome de domínio, é importante que ele seja curto, fácil de lembrar e relevante ao conteúdo do site. Evite o uso de números e hífens, pois isso pode dificultar a memorização.</p>
                </div>
            </li>
            <li>
                <a class="uk-text-left uk-accordion-title" href>Qual é a diferença entre um domínio e uma hospedagem?</a>
                <div class="uk-text-left uk-accordion-content">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
            </li>
            <li>
                <a class="uk-text-left uk-accordion-title" href>Como escolher um bom nome de domínio?</a>
                <div class=" uk-text-left uk-accordion-content">
                   <p>Ao escolher um nome de domínio, é importante que ele seja curto, fácil de lembrar e relevante ao conteúdo do site. Evite o uso de números e hífens, pois isso pode dificultar a memorização.</p>
                </div>
            </li>

                <li>
                   <a class="uk-text-left uk-accordion-title" href>O que é uma extensão de domínio?</a>
                     <div class="uk-text-left uk-accordion-content">
                    <p>A extensão de domínio é o sufixo do endereço do site, como <strong>.com</strong>, <strong>.org</strong>, ou <strong>.net</strong>. Ela indica a categoria ou a localização geográfica do site.</p>
                     </div>
                </li>
        </ul>
    </div>
</div>

</div>


<!-- Educação-->
<div class="uk-container uk-margin-large-top">
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
        <div>
            <app-verificador></app-verificador>>
        </div>

      
        <div >
           <h2>Perguntas Frequentes</h2>

           <ul  uk-accordion>
            <li>
                <a  class="uk-text-left uk-accordion-title" href>O que é um domínio</a>
                <div  class="uk-text-left uk-accordion-content">
                    <p>Ao escolher um nome de domínio, é importante que ele seja curto, fácil de lembrar e relevante ao conteúdo do site. Evite o uso de números e hífens, pois isso pode dificultar a memorização.</p>
                </div>
            </li>
            <li>
                <a class="uk-text-left uk-accordion-title" href>Qual é a diferença entre um domínio e uma hospedagem?</a>
                <div class="uk-text-left uk-accordion-content">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
            </li>
            <li>
                <a class="uk-text-left uk-accordion-title" href>Como escolher um bom nome de domínio?</a>
                <div class=" uk-text-left uk-accordion-content">
                   <p>Ao escolher um nome de domínio, é importante que ele seja curto, fácil de lembrar e relevante ao conteúdo do site. Evite o uso de números e hífens, pois isso pode dificultar a memorização.</p>
                </div>
            </li>

                <li>
                   <a class="uk-text-left uk-accordion-title" href>O que é uma extensão de domínio?</a>
                     <div class="uk-text-left uk-accordion-content">
                    <p>A extensão de domínio é o sufixo do endereço do site, como <strong>.com</strong>, <strong>.org</strong>, ou <strong>.net</strong>. Ela indica a categoria ou a localização geográfica do site.</p>
                     </div>
                </li>
        </ul>
    </div>
</div>

</div>
