.logotop {

    align-items: flex-start;
    text-align: left;
    height: 120px;
    width: auto;
    display: flex;
  
  }
  
  a{
  
    color: black !important;
  
  
  }
  
  .uk-offcanvas-bar {
    background-color: red;
    color: white !important;
  
  }

  .botao{
    cursor: pointer;
  }

  .texto-rosa{

    color:#f0506e;

  }