<app-navbar></app-navbar>

<app-banner></app-banner>

<app-cards></app-cards>

<app-cards2></app-cards2>

<!-- Domínios-->
<div class="uk-container uk-margin-large-top">
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
        <div>
            <app-verificador></app-verificador>>
        </div>

      
        <div >
           <h2>Perguntas Frequentes</h2>

           <ul  uk-accordion>
            <li>
                <a  class="uk-text-left uk-accordion-title" href><b>O que é um domínio</b></a>
                <div  class="uk-text-left uk-accordion-content">
                    <p>Ao escolher um nome de domínio, é importante que ele seja curto, fácil de lembrar e relevante ao conteúdo do site. Evite o uso de números e hífens, pois isso pode dificultar a memorização.</p>
                </div>
            </li>
            <li>
                <a class="uk-text-left uk-accordion-title" href><b>Qual é a diferença entre um domínio e uma hospedagem?</b></a>
                <div class="uk-text-left uk-accordion-content">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
            </li>
            <li>
                <a class="uk-text-left uk-accordion-title" href><b>Como escolher um bom nome de domínio?</b></a>
                <div class=" uk-text-left uk-accordion-content">
                   <p>Ao escolher um nome de domínio, é importante que ele seja curto, fácil de lembrar e relevante ao conteúdo do site. Evite o uso de números e hífens, pois isso pode dificultar a memorização.</p>
                </div>
            </li>

                <li>
                   <a class="uk-text-left uk-accordion-title" href><b>O que é uma extensão de domínio?</b></a>
                     <div class="uk-text-left uk-accordion-content">
                    <p>A extensão de domínio é o sufixo do endereço do site, como <strong>.com</strong>, <strong>.org</strong>, ou <strong>.net</strong>. Ela indica a categoria ou a localização geográfica do site.</p>
                     </div>
                </li>
        </ul>
    </div>
</div>

</div>
<!--Audiovisual-->

<app-audiovisual></app-audiovisual>

<!-- Educação-->
 <div class="uk-text-center uk-margin-large-top">
    <h2 class="texto-rosa">FluxoAcademy > <b> DevCamp </b></h2>


 </div>

<div class="uk-container uk-margin-large-top uk-margin-large-bottom ">

    <div class=" uk-child-width-1-2@m uk-child-width-1-1@s uk-grid">
        <div class="uk-text-center uk-margin-large-bottom">
            <h3><b> Comece uma carreira rentável em T.I & Multimedia
            Oferecemos mentoria personalizada, bootcamps e estágios</b></h3>
            <p>DevCamp é um programa de imersão tecnológica com foco para Cloud, DevOps e Gestão de Infraestrutura TI, direcionada a profissionais e estudantes da área que desejam se actualizar e aprimorar suas habilidades.</p>
            <button class="botao uk-button-danger uk-button-large " onclick="window.open('https://devcamp.fluxo-digital.com/', '_blank');"><b>SAIBA MAIS</b></button>
        </div>

        <div>
            <app-video1></app-video1>
        </div>
</div>

</div>

<app-footer></app-footer>