/* You can add global styles to this file, and also import other style files */
h1, h2, h3, p, a, li, ul, nav, body {
    font-family: "Poppins", sans-serif;
}


.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #25D366;
    color: white;
    padding: 20px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .whatsapp-button :hover{
    background-color: #1a9347;

  }
  
  
  
  
  