<app-navbar></app-navbar>


<div class="fundo">
    <div class=" uk-container">
        <div class=" uk-margin-large-top uk-margin-large-bottom uk-child-width-1-1@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
            <div>
                <div class="uk-border-rounded uk-card-default uk-card-body uk-width-1-1@m">
                    <h3>Bem-vindo à FluxoDigital!</h3>
                    <h1><b>Um passo a frente para o futuro!</b></h1>
                    <p class="uk-text-justify">A Fluxodigital foi fundada em 2017. Na Fluxodigital, somos apaixonados por tecnologia e inovação. Desde a nossa fundação, temos nos dedicado a fornecer soluções digitais de alta qualidade que atendem às necessidades de nossos clientes e impulsionam o sucesso dos seus negócios. Nossa missão é transformar ideias em realidades digitais, criando experiências que não apenas atendem, mas superam as expectativas. </p>
                    <p class="uk-text-justify">Os valores que nos distinguem de outros prestadores de serviço são:<b> Excelência, Competência, Disrupção e Profissionalismo </b></p>
                 
                    <p class="uk-text-justify">Nossos serviços são feitos especialmente para quem busca optimizar custos 
                        operacionais e eficiência operacional. Desenvolvidos e personalizados com alta 
                        tecnologia e, são destinados a clientes que buscam por soluções inovadoras e com os 
                        melhores preços do mercado.</p>

<div class="uk-container uk-text-center ">
    <div class="uk-child-width-1-1@s uk-grid-match" uk-grid>
        <div>
            <div class="uk-cover-container uk-width-1-1@m">
                <img alt="" src="/images/cert.png">
            </div>
        </div>
    </div>
</div>


                </div>

                
            </div>
          
            
      
        </div>
    </div>
    
    
    </div>
    
<app-footer></app-footer>